{{ form_start(commentForm) }}
{{ form_errors(commentForm) }}
<div class="form-group">
    {{ form_row(commentForm.text, {'attr': {'class': 'form-control', 'rows': '5', 'resize': 'none'}, 'label': "Your comment:"}) }}
</div>
<div class="form-group">
    {{ form_row(commentForm.create, {'attr': {'class': 'btn btn-success'}}) }}
</div>
{{ form_end(commentForm) }}